body {
  max-width: 880px;
  font-size: 16px;
  font-family: "YuGothic, Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic M", Arial;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

input {
  vertical-align: baseline;
}

#app {
  position: relative;
}

#header.logo-lg {
  color: #af1a1a;
  font-weight: 700;
  display: flex;
  align-items: start;
}

#header .main_img {
  width: 60px;
  margin-right: 24px;
}

#header .title {
  width: 100%;
  background: #af1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 23px;
}

#forms {
  margin: 60px 0;
}

.w30 {
  width:30px;
}

/* .w100{
  width:100px;
} */

#forms .form{
  background: #f7f7f7;
  border-bottom: 1px solid #bebebe;
  display: flex;
  align-items: center;
}

#forms .f_title{
  padding: 20px;
}

#forms .wide_input {
  width: 40%;
}

#forms .w100, #forms .w30 {
  padding: 10px;
  margin-right: 10px;
}

#forms .form .f_title {
  width: 300px;
}

#forms .form .f_title.mst:before {
  content: "必須";
  background-color: #e73838;
  color: #ffffff;
  font-size: 0.5rem;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
}

#forms .form .f_title.any:before {
  content: "任意";
  background-color: #3e51be;
  color: #ffffff;
  font-size: 0.5rem;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
}

#forms .choice label:first-child {
  margin-right: 0;
}

#forms .choice label {
  margin-right: 13px;
}

#forms .submit_form {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

#forms .submit_form .sub_btn,
#res .sub_btn {
  margin-right: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #af1a1a;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#forms .submit_form .sub_btn:hover,
#res .sub_btn:hover {
  opacity: 0.6;
}

#forms .submit_form .cancel {
  font-size: 0.9rem;
}

#res.form_res {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

#res.on {
  height: auto;
  opacity: 1;
  background: #fff;
  top: 5%;
  position: fixed;
  z-index: 999;
  width: 880px;
  padding: 24px;
}

#back.on {
  position: fixed;
  background: #3b3b3b;
  opacity: 0.8;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
}

#progress.steps {
  display: flex;
  margin: 10px 0;
}

#progress .step {
  background: #ffcdcd;
  padding: 10px 20px; 
  font-size: 0.7rem;
  color: #ffffff;
}

#progress .now {
  position: relative;
  background: #e73838;
}

#progress .now::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  border-top: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-left: solid 15px #e73838;
  right: -30px;
  top: 0px;
}

#footer.footer_wrapper {
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {

  #forms .form {
    flex-direction: column;
    padding-bottom: 20px;
  }

  #forms .wide_input {
    width: 250px;
  }

  #forms .form_other {
    width: 80%;
    max-width: 250px;
  }

}
