body {
  max-width: 880px;
  font-size: 16px;
  font-family: "YuGothic, Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic M", Arial;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

input {
  vertical-align: baseline;
}

#app {
  position: relative;
  min-width: 320px;
}

#header.logo-lg {
  color: #af1a1a;
  font-weight: 700;
  display: flex;
  align-items: start;
}

#header .main_img {
  width: 60px;
  margin-right: 24px;
}

#header .title {
  width: 100%;
  background: #af1a1a;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 23px;
}

#forms {
  margin: 20px 0 40px;;
}

.w30 {
  width:30px;
}

/* .w100{
  width:100px;
} */

#forms .form{
  background: #f7f7f7;
  border-bottom: 1px solid #bebebe;
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

#forms .form:first-child {
  border-top: 2px solid #af1a1a
}

#forms .f_title{
  padding: 20px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.2px;
}

#forms .wide_input {
  width: 40%;
}

#forms .w100, #forms .w30 {
  padding: 10px;
  margin-right: 10px;
}

#forms .form .f_title {
  width: 300px;
}

#forms .form .f_title.mst:before {
  content: "必須";
  background-color: #e73838;
  color: #ffffff;
  font-size: 0.5rem;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
}

#forms .form .f_title.any:before {
  content: "任意";
  background-color: #3e51be;
  color: #ffffff;
  font-size: 0.5rem;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
}

#forms .choice label:first-child {
  margin-right: 0;
}

#forms .choice label {
  margin-right: 13px;
}

#forms .submit_form {
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
}

#forms .submit_form .chk_btn,
#res .sub_btn {
  margin-right: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #af1a1a;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#forms .submit_form .sub_btn:hover,
#res .sub_btn:hover {
  opacity: 0.6;
}

#forms .submit_form .cancel {
  font-size: 0.9rem;
}

#forms .s_other {
  padding: 10px 0;
}

#forms .form_other {
  margin: 20px 0;
}

#forms .form .included .c_members {
  margin: 8px 0;
}

#forms .form .included .c_members:last-child {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #bebebe;
}

#res {
  width: 60%;
  margin: 54px auto;
}

#res .staff_attention {
  margin-bottom: 24px;
  text-align: center;
  padding: 24px;
  border-bottom: 1px solid #bebebe;
}

#res .staff_attention .att_ttl{
  font-size: 2.5rem;
  margin-bottom: 16px;
}

#res .chk_items .add_item {
  margin-top: 8px;
  margin-bottom: 24px;
}

#res .member_lists {
  display: flex;
}

#res .member_lists .add_item{
  margin: 0 16px;
}

#progress.steps {
  display: flex;
  margin: 20px 0;
}

#progress .step {
  background: #ffcdcd;
  padding: 10px 50px; 
  font-size: 0.7rem;
  color: #ffffff;
}

#progress .now {
  position: relative;
  background: #e73838;
}

#progress .now::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  border-top: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-left: solid 15px #e73838;
  right: -30px;
  top: 0px;
}

#footer.footer_wrapper {
  text-align: center;
  font-size: 0.8rem;
  margin: 80px 0 20px;
}

@media screen and (max-width: 768px) {

  #forms .form {
    flex-direction: column;
    padding-bottom: 20px;
  }

  #forms .wide_input {
    width: 250px;
  }

  #forms .form_other {
    width: 80%;
    max-width: 250px;
    margin: 0;
  }

  #forms .submit_form .chk_btn {
    margin-right: 10px;
  }

}
