<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>予約管理フォーム | やきにく実践塾_課題</title>
	<link rel="icon" href="/favicon.ico">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<meta name="description" content="焼き肉食べよう">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap" rel="stylesheet">
	<link rel="apple-touch-icon" type="image/png" href="./apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="./icon-192x192.png">
	<link rel="icon" type="image/png" href="./favicon.ico">
  <link rel="stylesheet" href="./css/reset.css">	
	<link rel="stylesheet" href="./css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div id="app" class="wrapper">
  <div id="header" class="logo-lg header_wrapper">
		<h1 class="header_item">
			<a href="./index.html"><img class="main_img" src="./img/yakinikubanner.jpg" alt="焼き肉実践塾"></a>
		</h1>
		<div class="title">
				<p class="logo-lg">予約管理システム</p>
		</div>
	</div>
	<ul id="progress" class="steps">
		<li class="step now">予約内容の入力</li>
		<li class="step">予約完了</li>
	</ul>
  <div id="forms" class="form_wrapper">
    <form action="reserve_post.php" method="POST">
      <div class="form">
				<label class="f_title mst" for="phone_no">電話番号（半角・ハイフンなし）</label>
				<input required v-model="v_phone_no" type="tel" pattern="[\d]*" title="半角かつハイフンなしの数字を入力してください" class="w100 wide_input" id="phone_no" name="phone_no" placeholder="012033334444" value="" minlength="11" maxlength="11">
			</div>
			<div class="form">
				<label class="f_title mst" for="client_name">お名前（ひながな・カナ）</label>
				<input required v-model="v_client_name" type="text" class="w100 wide_input" id="client_name" name="client_name" placeholder="ひらがなかカタカナで入力" value="" pattern="[ァ-ヶー　ぁ-ゞ]*" title="全角ひらがな・カタカナで入力してください">
			</div>
			<div class="form">
				<label class="f_title mst" for="reserve_date">予約日</label>
				<input required v-model="v_reserve_date" type="text" class="w100" id="reserve_date" name="reserve_date" placeholder="YYYY-MM-DD" value="">
			</div>
			<div class="form">
				<label class="f_title mst" for="reserve_time">予約時刻</label>
				<select required v-model="v_reserve_time" class="w100" id="reserve_time" name="reserve_time">
					<option disabled="disabled"> --▼選択してください-- </option>
					<option value="17:00">17時00分</option>
					<option value="17:30">17時30分</option>
					<option value="18:00">18時00分</option>
					<option value="18:30">18時30分</option>
					<option value="19:00">19時00分</option>
					<option value="19:30">19時30分</option>
					<option value="20:00">20時00分</option>
					<option value="20:30">20時30分</option>
					<option value="21:00">21時00分</option>
					<option value="21:30">21時30分</option>
					<option value="22:00">22時00分</option>
					<option value="22:30">22時30分</option>
				</select>
			</div>
			<div class="form">
				<label class="f_title mst" for="quantity">人数</label>
				<div class="included">
					<ul>
						<li>
							<span>大人</span>
							<input v-model.number="v_quantity_adult" type="number" class="w30" id="quantity_adult" name="quantity" placeholder="人数" value="" min="1"><span>人</span>
						</li>
						<li>
							<span>子供</span>
							<input v-model.number="v_quantity_child" type="number" class="w30" id="quantity_child" name="quantity" placeholder="人数" value="" min="0"><span>人</span>
						</li>
						<li>
							<span>合計</span>
							<span>{{ v_quantity_res }}</span><span>人</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="form choice">
				<label class="f_title mst">席タイプ</label>
				<div class="included">
					<input required type="radio" v-model="v_seat_type" id="seat_type_0" name="seat_type" value="ボックス席"><label for="seat_type_0">ボックス席</label>
				</div>
				<div class="included">
					<input required type="radio" v-model="v_seat_type" id="seat_type_1" name="seat_type" value="カウンター"><label for="seat_type_1">カウンター</label>
				</div>
				<div class="included">
					<input required type="radio" v-model="v_seat_type" id="seat_type_2" name="seat_type" value="テーブル席"><label for="seat_type_2">テーブル席</label>
				</div>
			</div>
			<div class="form choice">
				<label class="f_title mst">喫煙</label>
				<div class="included">
					<input required type="radio" v-model="v_seat_smoke" id="seat_smoke_0" name="seat_smoke" value="禁煙席"><label for="seat_smoke_0">禁煙席</label>
				</div>
				<div class="included">
					<input required type="radio" v-model="v_seat_smoke" id="seat_smoke_1" name="seat_smoke" value="喫煙席"><label for="seat_smoke_1">喫煙席</label>
				</div>
			</div>
			<div class="form">
				<label for="others" class="f_title any">備考</label>
				<textarea v-model="v_others" name="others" id="others_notice" cols="30" rows="10" placeholder="備考欄">{{ v_others }}</textarea>
			</div>
			<div class="submit_form">
				<!-- <input type="submit" id="btnSubmit" class="sub_btn" name="btnSubmit" value="予約する"> -->
				<span>a</span>
				<a href="/" class="cancel">予約キャンセル</a>
			</div>
		<div class="form_res">
				<p>電話番号</p>
				<p>{{ v_phone_no }}</p>
				<p>お名前</p>
				<p>{{ v_client_name }}</p>
				<p>予約日</p>
				<p>{{ v_reserve_date }}</p>
				<p>予約時刻</p>
				<p>{{ v_reserve_time }}</p>
				<p>人数：大人（運転される方がいるか確認してください）</p>
				<p>{{ v_quantity_adult }}</p>
				<p>人数：子供</p>
				<p>{{ v_quantity_child }}</p>
				<p>合計人数</p>
				<p>{{ v_quantity_adult + v_quantity_child }}</p>
				<p>席タイプ</p>
				<p>{{ v_seat_type }}</p>
				<p>喫煙</p>
				<p>{{ v_seat_smoke }}</p>
				<p>備考</p>
				<p>{{ v_others }}</p>
			</div>
	</form>
	</div>
	<div id="footer" class="footer_wrapper">
		<p>copyright YJissen / Shumpei All Rights Reserved.</p>
	</div>
</div>
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>
